<h3>New Contact</h3>

<% form_for(@contact, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form',  :locals => {:f => f }%>    
  <p class="submit"><%= f.submit "Submit" %> | <%= link_to "Cancel", contacts_path %> </p>  
<% end %>