<h3>Companies</h3>

<table width="50%" cellpadding="6">
  <tr>    
    <th>Name</th>    
    <th></th>
  </tr>
  
<% @companies.each do |company| %>
  <tr class="<%= cycle('odd', 'even') %>">     
    <td><%= link_to company.name, company_path(company) %></td>    
    <td><%= link_to 'Remove', company, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'Add Company', new_company_path %>