<h3>New Company</h3>

<% form_for(@company) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form',  :locals => {:f => f }%>    
  <p class="submit"><%= f.submit "Submit" %> | <%= link_to "Cancel", companies_path %> </p>  
<% end %>